@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/* VARIAVEL EM CSS*/

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e; 

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/* MARGEM GLOBAL (TODOS PARAMETROS VAO OBEDECER O *) */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0)
    font-family: var(--fonte-padrao)
    margin:10px ;
}

a.externo::after {
    content: '00A0\1F517';
}

header {
    text-align: center;
    color: white;
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding: 10px 2px;
}

nav {
    background-color: var(--cor4);
    padding-left: 10px;
}

nav a {
    color: white;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    border-radius: 3px;
    padding: 5px;
    transition-duration: 0.4s;
}

nav > :hover {
    background-color: var(--cor2);
    color: var(--cor5);
}

main {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.193);
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 15px   
}

main img {
    width: 100%;
}

main p {
    margin: 10px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 2em;
    
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor2);
    padding: 1px 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

h1 {
    font-family: var(--fonte-destaque), Verdana, sans-serif;
    font-size: normal;
    font-weight: normal;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.341);
}  
      
h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
}
 
a {
    color: var(--cor3);
}



article {
    margin: auto;
}

#robozinho {
    text-align: center;
    background-color: white;
}
div.video {
   background-color: var(--cor3); 
   margin: 0px -20 30px -20px;
   padding: 20px;
   padding-bottom: 55%;
   position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.345);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer {
    text-align: center;
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    font-size: 0.8em;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}